<h3>Todos List</h3>

<!-- this method is used earlier -->
<!-- <p *ngIf="!todoItems().length">Loading...</p> -->

<!-- Following is done with latest update -->
@if (!todoItems().length) {
<p>Loading...</p>
}

<form action="">
  <label>Filter Todos</label>
  <input name="searchTerm" type="text" [(ngModel)]="searchTerm" placeholder="Search todos..." />
</form>

<ul class="todos">
  @for (todo of todoItems() | filterTodos : searchTerm(); track todo.id) {
  <app-todo-item (todoToggled)="updateTodoItem($event)" [todo]="todo" />
  }
</ul>
